EDP Web/Connected Services/ServiceReference1/MyDBService.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyDBService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyDBService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComplaints">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Complaints" nillable="true" type="tns:Complaints" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplaints" nillable="true" type="tns:ArrayOfComplaints" />
  <xs:complexType name="Complaints">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Complaints" nillable="true" type="tns:Complaints" />
</xs:schema>