EDP Web/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyDBService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyDBService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllComplaints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllComplaints" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllComplaints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllComplaintsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateComplaint_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateComplaint" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateComplaint_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateComplaintResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateComplaintStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComplaintStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateComplaintStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComplaintStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllComplaints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllComplaints" message="tns:IService1_GetAllComplaints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllComplaintsResponse" message="tns:IService1_GetAllComplaints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateComplaint">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateComplaint" message="tns:IService1_CreateComplaint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateComplaintResponse" message="tns:IService1_CreateComplaint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComplaintStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateComplaintStatus" message="tns:IService1_UpdateComplaintStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateComplaintStatusResponse" message="tns:IService1_UpdateComplaintStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllComplaints">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllComplaints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateComplaint">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateComplaint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComplaintStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateComplaintStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MyDBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>